{% extends './base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('register') }}
{% endblock %}
{% block javascripts%}
    {{ encore_entry_script_tags('register') }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
{% block body %}
    {% include './navbar.html.twig' %}
    <div class="container">
        <h3>ADD PRODUCT</h3>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="div">
            {{ form_start(form, {'action': path('add_product'), 'method': 'POST'} )}}
            <div class="form-group">
                {{ form_widget(form.product_name,{'attr':{'class':'form-control','placeholder':'Enter Product Name'}}) }}

            </div>
            <div class="form-group">
                {#                {{ form_label(form.password,null,#}
                {#                    {#}
                {#                        'label':'Enter Password',#}
                {#                        'label_attr':{'class':'foo'}#}
                {#                    }) }}#}
                {{ form_widget(form.product_price,{'attr':{'class':'form-control','placeholder':'Enter Product Price'}}) }}

            </div>
            <div class="form-group">
                {{ form_widget(form.Category,{'separator': '=====','attr':{'class':'form-control'}}) }}

            </div>



            <div class="form-group">
                <button class="btn btn-secondary form-control">ADD PRODUCT</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}